@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--bg: hsl(180, 52%, 96%);
	--primary: #5ca5a5;
	--primary-light: #b7c4c4;
	--dark: #2b3939;
	--white: white;
	--light-gray: #7c8f8f;
	--selected-tag: #eff6f6;
	font-family: 'Spartan', sans-serif;
}

body {
	width: 100%;
	min-height: 100vh;
	background: var(--bg);
}

#svelte {
	width: 100%;
	height: auto;
}

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-track {
	box-shadow: none;
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
	outline: none;
	border-radius: 8px;
}
